a {
  color: rgb(219, 219, 219); 
  font-size: 3ems;
background-color:rgb(0, 0, 0);
font-family: 'Open Sans', sans-serif;
font-weight:bold;
border: solid rgb(187, 215, 241);
border-radius: 5px;
padding: 7px;
text-align: center;
}
body {

    background-color:rgb(228, 132, 125);

}
h1{text-align: center;
color:blue;
font-size: 60px;
font-family: 'Inconsolata', monospace;}

.strip {
background-color: white;
}

a:hover {
color: rgb(219, 48, 25);
background-color: rgba(108, 171, 235, 0.575);
border: solid black; 
}

.links{
text-align: center;

}

