/*the nav bar*/
.cool {
  color: rgb(219, 219, 219); 
  font-size: 3ems;
background-color:rgb(0, 0, 0);
font-family: 'Open Sans', sans-serif;
font-weight:bold;
border: solid rgb(187, 215, 241);
border-radius: 5px;
padding: 7px;
text-align: center;
text-decoration: none;
transition-property: background-color;
transition-duration: 650ms;
transition-delay: 50ms;
/*max-height: 70px;
transition-property: max-height;*/
}

.links{
  text-align: center;
  }

.cool:hover {
  color: rgb(219, 48, 25);
  background-color: rgb(218, 218, 218);
  border: solid black; 
 /* max-height:180px;*/
  }
/*body*/
body {

    background-color:#1f2833

}
/*the heading for the home page and image*/
#home-title{text-align: center;
color:rgb(0, 0, 0);
font-size: 60px;
font-family: 'Grandstander', cursive;}

#image{
margin-top: 35px;
margin-left: 65px;

}
/*strips on the top and bottom of website*/
.strip {
background-color:rgb(132, 206, 255);
width:100%;
}

/*heading for the accomplishments page*/
#accomplishments{text-align: center;
  color:rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Grandstander', cursive;
}
/*heading for the assignments page*/
#assign{text-align: center;
  color:rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Grandstander', cursive;
}
/*sub headings for each page*/
.header2{ 
margin-left: 30px;
font-size: 35px;
color: #C5C6C7;
font-family: 'Roboto', sans-serif;
}
/*heading for the man of the hour page*/
#MOTH { 
  text-align: center;
  color:rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Grandstander', cursive;
}
/*heading for the what lies ahead page*/
#WLA {
  text-align: center;
  color:rgb(0, 0, 0);
  font-size: 60px;
  font-family: 'Grandstander', cursive;
}
/*bubble for the emoji to speak from*/
  .homepagetxt{
      width: 800px;
      height: 250px;
      border: 3px solid rgb(0, 0, 0);
      border-radius: 15px;
      padding: 20px;
      font-size: 40px;
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;
      margin-left: 70px; 
      background: white;    
      /*
      position: relative; top: -335px;*/
    }
/* index page sub headings*/

  .heading1 {
    font-size:40px;
margin-left: 20px;
color: #C5C6C7;
font-family: 'Roboto', sans-serif;
}

.heading2 {
  font-size:40px;
  margin-right: 20px;
  float: right;
  color: #C5C6C7;
  font-family: 'Roboto', sans-serif;
}
/*the text on the index*/
.text1{
  margin-left:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 3px solid rgb(61, 122, 150);
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    background:rgb(40, 64, 141);
    color:rgb(80, 183, 252);
    font-weight: bolder;
}

.text2{
  margin-left:20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: right;
  margin-right:20px;
  border: 3px solid rgb(61, 122, 150);
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  margin-left: 300px;
  color: rgb(80, 183, 252);
  background: rgb(40, 64, 141);
  font-weight: bolder;
}
/*for the sports header in accompllishments*/
#sportstxt{
  margin-left:30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin-right:px;
  border: 3px solid rgb(61, 122, 150);
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background:rgb(40, 64, 141);
  color:rgb(80, 183, 252);
}
#shooter{
  margin-left:40px;
  margin-top: 25px;
  margin-right:30px;
}
/*uses sportstxt for formatting. Is for the academics header*/
#academics{
  margin-left:40px;
  margin-top: 25px;
  margin-right:60px;
  position: relative; top: -55px;
}
/* for outside of school text and image*/
#OFStxt{
  margin-left:30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-right:20px;
  border: 3px solid rgb(61, 122, 150);
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background:rgb(40, 64, 141);
  color:rgb(80, 183, 252);
  font-weight:bolder;
}

#hoop{ 
  margin-left:40px;

  margin-right:60px;
  margin-bottom: 30px;
}
/*text for the assignments page*/
#assigntxt{
  margin-left:30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-right:20px;
  border: 3px solid rgb(61, 122, 150);
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background:rgb(40, 64, 141);
  color:rgb(80, 183, 252);
  font-weight:bolder;
}
/*title for the assignments*/
#assignhead{
  color:#C5C6C7;
  margin-left:30px;
  margin-right:20px;
  font-size: 30px;
  color:#C5C6C7;
  font-family: 'Roboto', sans-serif;
}
u{
color:#C5C6C7;
}
/*list of the assignments with image of folder*/
li{
  font-size: 20px;
  font-family: 'Roboto', sans-serif !important;
}
ol{
  margin-left:10px;
  color:rgb(80, 183, 252);
}

#folder{
  margin-right:70px;
}
/*person holding a clock for the man of the hour with image for interests*/
#clock{
  position: relative; top: -75px;
  margin-left:15px;
  margin-right:40px;
}

#interests{
margin-right:75px;
margin-left:35px;
position: relative; top: -75px;
margin-bottom:15px;
}
/*text for interests heading on the man of the hour page*/
#intereststxt{
  margin-left:30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-right:20px;
  position: relative; top: -75px;
  border: 3px solid rgb(61, 122, 150);
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background:rgb(40, 64, 141);
  color:rgb(80, 183, 252);
  font-weight:bolder;
}
/*heading for the interests paragraph*/
#intereststitle{
  position: relative; top: -75px;
  margin-left:30px;
  margin-right:20px;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
}
/*text for the personality heading under the man of the hour page*/
#vibetxt{
  margin-left:30px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-right:20px;
  border: 3px solid rgb(61, 122, 150);
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    background:rgb(40, 64, 141);
    color:rgb(80, 183, 252);
    font-weight:bolder;
}
/*vibe icon for man of the hour*/
#vibe{
  margin-left:10px;
  margin-top: 15px;
  margin-right:20px;
  margin-bottom: 30px;
}
/*image of graph for what lies ahead*/
#graph{
  margin-right:30px;
  margin-top:40px;
}
/*to make the links on assignments page look nicer*/
.assignwork {   
  color: rgb(115, 174, 252);   
}

a:active {
  color: blue;
}
/*captions!!!!*/
#caption{
  margin-left:20px
}
#caption4shooter{
  float:right;
  margin-right:20px;
}

#caption4grad{
float:right;
margin-right:20px;
position: relative; top: -150px;
text-align:right;
}

#caption4hoop{
  float:right;
  position: relative; top: -35px;
}

#caption4folder{
  float:right;
  color:black;
}

#caption4man{
  float:right;
  position: relative; top: -80px;
  margin-left:700px;
}
#caption4interest{
  float:right;
  position: relative; top: -170px;
}

#caption4vibe{
  float:right;
  position: relative; top: -130px;
  margin-right:20px;
}

#caption4graph{
  float:right;
  position: relative; top: -70px;
  text-align:right;
  margin-right:30px;
}

#caption4rocket{
  float:right;
  margin-right:50px;
  position: relative; top: -90px;
}

#caption4solution{
  float:right;
  margin-right:10px;
  position: relative; top: -35px;
}
/* Buttons*/
.buttons{
padding:10px;
background-color: rgb(245, 46, 46);
color: rgb(255, 255, 255);
border:3px solid rgb(65, 65, 65);
border-radius: 10px;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
font-size: 30px;
cursor: pointer;
box-shadow: 0 10px #999;
} 
/* Credits: W3 Schools*/
.buttons:hover{
  color: rgb(0, 0, 0);
  background-color:rgb(46, 83, 245);
  border: 5px solid rgb(209, 201, 201) ;
}
.button:active {
  background-color: rgb(46, 83, 245);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button12{
  padding:10px;
background-color: rgb(65, 65, 65);
color: rgb(255, 255, 255);
border:3px solid rgb(245, 46, 46);
border-radius: 10px;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
font-size: 30px;
float: right;
margin-right: 30px;
transition-duration: 0.4s;
cursor: pointer;
}
/*Credit: W3 Schools*/
.button12:hover {
  box-shadow: 0 25px 20px 0 rgba(255, 0, 0, 0.644),0 17px 50px 0 rgba(207, 19, 19, 0.582)
}
#button1{
  margin-top: 10px;
  margin-left:50px;
}
#button2{
 margin-right: 50px;
 float: right;
 margin-top:20px;
}
#button3{
  margin-top: 20px;
  margin-left:50px;
}
#button4{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
#button5{
  margin-top: 20px;
  margin-left:50px;
}
#button6{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
#button7{
  margin-top: 20px;
  margin-left:50px;
}
#button8{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
#button9{
  margin-top: 20px;
  margin-left:50px;
}
#button10{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
#button11{
  margin-top: 20px;
  margin-left:50px;
}
/*secret page!*/
.secret-strip{
  background-color: rgb(255, 115, 59);
}

#secret-body{
background-color: rgb(255, 183, 75);
}

.secret-cool{
  color: rgb(58, 58, 58); 
  font-size: 3ems;
background-color:rgb(255, 255, 255);
font-family: 'Open Sans', sans-serif;
font-weight:bold;
border: solid rgb(247, 226, 135);
border-radius: 5px;
padding: 7px;
text-align: center;
text-decoration: none;
transition-property: background-color;
transition-duration: 650ms;
transition-delay: 50ms;
}

.secret-cool:hover{
  color: rgb(57, 184, 57);
  background-color: rgb(58, 58, 58);
  border: solid rgb(255, 255, 255);
}

#secret-txt{
  margin-left:210px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /*margin-right:20px;*/
  text-align: center;
  border: 3px solid rgb(150, 144, 61);
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background:rgb(141, 85, 40);
  color:rgb(252, 134, 80);
  font-weight:bolder;
}

#demo{
font-size:35px;
}

